.App {
  height: 1000px;
  text-align: center;
  background-image: url('http://flannelqueen.com/images/0014_1_Baby-Blue-Gingham-sm.gif');
}

.App-header {
  background-color: white;
  height: 40px;
  padding: 20px;
  color: gray;
}

.App-intro {
  font-size: large;
}

.tweedfeed {
  margin: 0 auto;
  width: 60%;
  height: 1000px;
  background-color: white;
}

footer {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
}
p {
  font-size:.75em;
}
a {
  color:#000;
  text-decoration:none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
