.App {
  height: 1000px;
  text-align: center;
  background-image: url('http://flannelqueen.com/images/0014_1_Baby-Blue-Gingham-sm.gif');
}

.App-header {
  background-color: white;
  height: 30px;
  padding: 20px;
  color: gray;
  border-bottom: 2px solid #d0d3d5;
}

.App-intro {
  font-size: large;
}

.tweedfeed {
  margin: 10px auto;
  padding-top: 20px;
  width: 60%;
  height: 1000px;
  background-color: #e8f5fd;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #d0d3d5;
}

.textarea {
  height: 30px;
  width: 80%;
  border: 1px solid blue;
  border-radius: 5px;
  font-size: .75em;
  padding-left: 20px;
}

.textarea:focus {
  height: 100px;
  padding-left: 20px;
}

.tweedit {
  height: 40px;
  width: 80px;
  margin-top: 10px;
  margin-right: 70px;
  float: right;
  background-color: #2f9ac3;
  border-radius: 5px;
  color: white;
  border: none;
}

.clearfix {
  content: ' ';
  display: block;
  clear: both;
}

.tweed {
  background-color: white;
  border: 1px 1px 1px 1px solid #d0d3d5;
}

footer {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
}
p {
  font-size:.75em;
}
a {
  color:#000;
  text-decoration:none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
