<!DOCTYPE html>
<head>
    <% include partials/template/head.ejs %>
</head>
   
<body>
 <% include partials/template/header.ejs %>
    <div class="container">
      <h1>Welcome to Hakuna Matata</h1>
    </div>
 <% include partials/template/jsdefaults.ejs %>
</body>

</html>
