<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index pages</title>
</head>
<body>
<% include partials/header %>
  This is my Index <%= users.join('--') %>
  <hr>

  <% users.forEach(function(user){ %>
    <div>
      <%= user %>
    </div>
  <% }); %>

<%- include('partials/footer') %>
</body>
</html>