<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header text-danger">
                <h1>Hakuna Matata Forum</h1>
            </div>
        </div>
</nav>
