body {
  background-color: black;
  font-family: 'Orbitron', sans-serif;
  /*cursor: none;*/
}
.container {
  position: relative;
  margin: 0 auto;
  width: 1024px;
}
canvas {
  margin: 0 auto;
  width: 100%;
}
#game {
  position: absolute;
  left: 0;
  top: 0;
  height: 576px;
  z-index: 1;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 576px;
  z-index: 2;
}
#status {
  position: fixed;
  z-index: 5;
  transform: perspective(30em) rotateX(6deg);
  top: 440px;
  left: 523px;
  height: 130px;
  width: 230px;
  border-radius: 10px;
  background-color: black;
  color: #49fb35;
  text-align: center;
  vertical-align: center;
  text-shadow: 2px 2px 5px #49fb35;
}

.message {
  padding: 10px;
  z-index: 5;
  color: #49fb35;
  font-size: 1em;
  text-align: center;
  vertical-align: center;
  text-shadow: 2px 2px 5px #49fb35;
}
.fuelSpanRed {
  padding: 10px;
  z-index: 5;
  color: #ff0101;
  font-size: 1em;
  text-align: center;
  vertical-align: center;
  text-shadow: 2px 2px 5px #ff0101;
}
.crosshairs {
  position: fixed;
  left: 539px;
  top: 200px;
  height: 120px;
  width: 200px;
  z-index: 1;
  opacity: .5;
}
#main {
  height: 100%;
  width: 100%;
}
.blue {
  display: inline-block;
  height: 120px;
  width: 30px;
  border-left: 1px solid #49fb35;
  border-top: 1px solid #49fb35;
  border-bottom: 1px solid #49fb35;
  box-shadow: -2px 0px 2px #49fb35;
}
.red {
  display: inline-block;
  height: 120px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid #49fb35;
  border-right: 1px solid #49fb35;
  border-bottom: 1px solid #49fb35;
  box-shadow: 2px 0px 2px #49fb35;
}
.yellow {
  display: inline-block;
  margin: 0 auto;
  height: 120px;
  width: 140px;
  position: absolute;
  left: 50px;
  top: 0;
}
.center {
  display: inline-block;
  position: absolute;
  left: 95px;
  top: 55px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 2px solid #49fb35;
  box-shadow: 1px 0px 1px #49fb35;
}
.blueRed {
  display: inline-block;
  height: 120px;
  width: 30px;
  border-left: 1px solid #ff0101;
  border-top: 1px solid #ff0101;
  border-bottom: 1px solid #ff0101;
  box-shadow: -2px 0px 2px #ff0101;
}
.centerRed {
  display: inline-block;
  position: absolute;
  left: 95px;
  top: 55px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 2px solid #ff0101;
  box-shadow: 1px 0px 1px #ff0101;
}
.redRed {
  display: inline-block;
  height: 120px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid #ff0101;
  border-right: 1px solid #ff0101;
  border-bottom: 1px solid #ff0101;
  box-shadow: 2px 0px 2px #ff0101;
}
#leftbeam {
  position: relative;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: red;
  animation: moveLeft .5s;
  box-shadow: 0px 0px 12px 12px red;
}
#rightbeam {
  position: relative;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: red;
  animation: moveRight .5s;
  box-shadow: 0px 0px 12px 12px red;
}
.target {
  float: left;
  position: relative;
  height: 25px;
  width: 50px;
  border-radius: 50px;
  background-color: blue;
  animation: moveTarget 30s alternate infinite;
  transition-timing-function: linear;
  z-index: -1;
  border-radius: 50px / 25px;
}
@keyframes moveLeft {
  0% {left: 100px; top: 500px}
  25% {height: 8px; width: 8px; border-radius: 8px; box-shadow: 0px 0px 8px 8px red;}
  50% {height: 4px; width: 4px; border-radius: 4px; box-shadow: 0px 0px 4px 4px red;}
  100% {left: 517px; top: 250px; height: 1px; width: 1px; border-radius: 1px; box-shadow: 0px 0px 1px 1px red;}
}
@keyframes moveRight {
  0% {left: 924px; top: 500px}
  25% {height: 8px; width: 8px; border-radius: 8px; box-shadow: 0px 0px 8px 8px red;}
  50% {height: 4px; width: 4px; border-radius: 4px; box-shadow: 0px 0px 4px 4px red;}
  100% {left: 517px; top: 250px; height: 1px; width: 1px; border-radius: 1px; box-shadow: 0px 0px 1px 1px red}
}
@keyframes moveTarget {
  0% {left: -200px; top: 250px; height: 12px; width: 25px}
  12% {left: 700px; top: 10px}
  25% {left: 917px; top: 250px; height: 25px; width: 50px}
  37% {left: 200px; top: 400px}
  43% {left: 517px; top: 100px}
  50% {left: 517px; top: 250px; height: 12px; width: 25px}
  62% {left: 1000px; top: 400px}
  69% {left: 200px; top: 250px; height: 33px; width: 66px}
  75% {left: 517px; top: 250px}
  88% {left: 200px; top: 100px}
  100% {left: -200px; top: 250px; height: 12px; width: 25px}
}
.explosion {
  top: 250px;
  left: 630px;
  position: fixed;
  height: 200px;
  width: 200px;
  border-radius: 250px;
  background-color: red;
  animation: blowUp 1s;
  transition-timing-function: linear;
  z-index: -1;
}
@keyframes blowUp {
  0% {height: 25px; width: 25px; border-radius: 25px; box-shadow: 0px 0px 20px 20px red;}
  20% {height: 175px; width: 175px; border-radius: 175px; box-shadow: 0px 0px 100px 100px red;}
  40% {height: 200px; width: 200px; border-radius: 200px; box-shadow: 0px 0px 100px 100px red; opacity: .9;}
  75% {height: 100px; width: 100px; border-radius: 100px; box-shadow: 0px 0px 100px 100px red; opacity: .8;}
  100% {height: 1px; width: 1px; border-radius: 1px; box-shadow: 0px 0px 10px 10px red; opacity: .5;}
 }


/* MODAL POPUP */

.modal {
    visibility: hidden;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9;
    height: 100%;
    width: 100%;
}
.modalVisible {
    visibility: normal;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9;
    height: 100%;
    width: 100%;
}
.modalcontent {
  color: #FFF
  text-align: center
  font-family: 'lato',sans-serif
  font-weight: 300
  font-size: 50px
  letter-spacing: 10px
  margin-top: -60px
  padding-left: 10px
}
.splash {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}
.container2 {
  margin: 0 auto;
  width: 850px;
}
.firstLetterFlipper {
  display: inline-block;
  position: relative;
  margin: 4%;
  animation: flipIt 10s alternate infinite;
  perspective: 1000px;
  transform: rotateY(-90deg);
  transition: 0.5s;
  transform-style: preserve-3d;

}
.firstLetter {
  display: inline-block;
  position: relative;
  color: #7FFF00;
  padding: 1%;
  font-size: 7em;
  animation: glowIt 2s alternate infinite;
  background-clip: text;
}
@keyframes glowIt {
  0% {color: #7FFF00; text-shadow: 0px 0px 10px #7FFF00}
  50% {color: #ADFF2F; text-shadow: 0px 0px 40px #ADFF2F}
  100% {color: #7FFF00; text-shadow: 0px 0px 10px #7FFF00}
}
@keyframes flipIt {
  0% {transform: rotateY(-90deg)}
  50% {transform: rotateY(0deg)}
  100% {transform: rotateY(-90deg)}
}
@keyframes spreadIt {
  0% {}
  50% {}
  100% {}
}
.saveLetter, .ourLetter, .satellitesLetter {
  display: inline-block;
  font-size: 3em;
  margin: 1.5%;
  color: #49fb35;
  animation: glowAndSpreadIt 2s alternate infinite;
  background-clip: text
}





