body {
  background-color: black;
  font-family: 'Orbitron', sans-serif;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 1024px;
}
canvas {
  margin: 0 auto;
  width: 100%;
}
#game {
  position: absolute;
  left: 0;
  top: 0;
  height: 576px;
  z-index: 1;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 576px;
  z-index: 2;
}
#status {
  position: fixed;
  z-index: 4;
  transform: perspective(30em) rotateX(6deg);
  top: 440px;
  left: 523px;
  height: 130px;
  width: 230px;
  border-radius: 10px;
  background-color: black;
  color: #49fb35;
  text-align: center;
  vertical-align: center;
  text-shadow: 2px 2px 5px #49fb35;
}

#message {
  padding: 10px;
}

#crosshairs {
  position: fixed;
  left: 539px;
  top: 200px;
  height: 120px;
  width: 200px;
  z-index: 1;
  opacity: .5;
}

#main {
  height: 100%;
  width: 100%;
}

.blue {
  display: inline-block;
  height: 120px;
  width: 30px;
  border-left: 1px solid #49fb35;
  border-top: 1px solid #49fb35;
  border-bottom: 1px solid #49fb35;
  box-shadow: -2px 0px 2px #49fb35;
}

.red {
  display: inline-block;
  height: 120px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid #49fb35;
  border-right: 1px solid #49fb35;
  border-bottom: 1px solid #49fb35;
  box-shadow: 2px 0px 2px #49fb35;
}

.yellow {
  display: inline-block;
  margin: 0 auto;
  height: 120px;
  width: 140px;
  position: absolute;
  left: 50px;
  top: 0;
}
#center {
  display: inline-block;
  position: absolute;
  left: 95px;
  top: 55px;
  height: 10px;
  width: 10px;
  border: 2px solid #49fb35;
  border-radius: 10px;
  box-shadow: 1px 0px 1px #49fb35;
}
#leftbeam {
  position: relative;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: red;
  animation: moveLeft .5s;
  box-shadow: 0px 0px 12px 12px red;
}
#rightbeam {
  position: relative;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: red;
  animation: moveRight .5s;
  box-shadow: 0px 0px 12px 12px red;
}
.target {
  float: left;
  position: relative;
  height: 25px;
  width: 50px;
  border-radius: 50px;
  background-color: blue;
  animation: moveTarget 30s alternate infinite;
  transition-timing-function: linear;
  z-index: -1;
  border-radius: 50px / 25px;
}
@keyframes moveLeft {
  0% {left: 100px; top: 500px}
  25% {height: 8px; width: 8px; border-radius: 8px; box-shadow: 0px 0px 8px 8px red;}
  50% {height: 4px; width: 4px; border-radius: 4px; box-shadow: 0px 0px 4px 4px red;}
  100% {left: 517px; top: 250px; height: 1px; width: 1px; border-radius: 1px; box-shadow: 0px 0px 1px 1px red;}
}
@keyframes moveRight {
  0% {left: 924px; top: 500px}
  25% {height: 8px; width: 8px; border-radius: 8px; box-shadow: 0px 0px 8px 8px red;}
  50% {height: 4px; width: 4px; border-radius: 4px; box-shadow: 0px 0px 4px 4px red;}
  100% {left: 517px; top: 250px; height: 1px; width: 1px; border-radius: 1px; box-shadow: 0px 0px 1px 1px red}
}
@keyframes moveTarget {
  0% {left: -200px; top: 250px}
  12% {left: 700px; top: 10px}
  25% {left: 917px; top: 250px}
  37% {left: 200px; top: 400px}
  43% {left: 517px; top: 100px}
  50% {left: 517px; top: 250px}
  62% {left: 1000px; top: 400px}
  69% {left: 200px; top: 250px}
  75% {left: 517px; top: 250px}
  88% {left: 200px; top: 100px}
  100% {left: -200px; top: 250px}
}
.explosion {

}






