<h1>New Person Page!</h1>
<br>
<form <%= link_to 'People', people_path %> >
<label>username</label>
<input type="text" name="person[username]" />
<label>first name</label>
<input type="text" name="person[first_name]" />
<label>last name</label>
<input type="text" name="person[last_name]" />
<button>Submit</button>
</form>
